@model IEnumerable<FlightReservationSystem.Models.Flight>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.flightName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seatFirstclass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seatBusinessclass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seatEconomyclass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.flightName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seatFirstclass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seatBusinessclass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seatEconomyclass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.flightId }) |
            @Html.ActionLink("Details", "Details", new { id=item.flightId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.flightId })
        </td>
    </tr>
}

</table>
